#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    /* background-color: #312E2E; */
    height: 300px;
    margin: 0 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.photograph-header .surname, .photograph-header .btn-wrap, .photograph-header .portrait{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px ;
}

.photograph-header .surname{
    text-align: left;
    width: 40%;
}

.photograph-header .surname .photographer_name{
    margin: 0;
    font-size: 55px;
    color: #D3573C;
}

.photograph-header .surname .photographer_name, .photograph-header .surname .city_wrap, .photograph-header .surname .tagline{
    text-align: left;
}

.photograph-header .btn-wrap{
    text-align: center;
}

.photograph-header .portrait {
    align-items: flex-end;
    width: 40%;
}

.portrait img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: background 300ms ease-in-out ;
}

.contact_button:hover{
    color: black;
    background: #DB8876;
    transition: background 300ms ease-in-out ;
}

/* .contact_modal{
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    top: 0;
    background: rgba(254, 254, 254, 0.5);
    padding: 50px 0;
    z-index: 5000;
} */

.contact_modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background: rgba(254, 254, 254, 0.5);
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin:  30px auto;
}

.form_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 50px;
}

.form_header_name {
    height: 150px;
}

.form_header_name > *{
    line-height: 1rem;
    font-size: 50px;
    font-weight: normal;
}

.form_header img{
    width: 30px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

/* form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
} */

form label, .contact_button{
    margin-top: 20px;
}

form textarea{
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.portfolio_section{
    margin: 50px 100px;
   
}

.filter-choise{
    width: 110px;
    background: #901c1c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.media_card{
    width: 350px;
    height: 350px;
    margin: 50px 0;
}

.mediaImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.media_info{
    padding: 10px;
    display: flex;
    justify-content: space-between;  
} 

.media_info h2,
.media_info p {
    margin: 0;
    padding-top: 5px;
    color: #901C1C;
}

.media_info h2{
    text-align: left;
    width: 80%;
}
.media_info p{
    padding-top: 13px;
    width: 20%;
}

.likes_nbr{
    margin-right: 5px;
}

.media_date {
  position: absolute;
  left: -9999px;
}

.infos-bottom{
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background: #DB8876; 
    border-radius: 5px;
    position: fixed;
    bottom: 0;  
    right: 10px;
    /* z-index: 500; */
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  background-color: #fefefe;
  text-align: center;
  border: 1px solid #888;
  width: 80%;
}

.close-lightbox {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
}

.lightbox-media img,
.lightbox-media video {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
}

.lightbox-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 36px;
  color: #888;
}
